<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="methods" name="All Test Suite" thread-count="4">
    <test verbose="2" name="C:/Users/srdja/IdeaProjects/TestAutomationSelenium">
        <classes>
            <class name="day1.FirstTests">
                <methods>
                    <include name="testRun"/>
                    <include name="testRun1"/>
                </methods>
            </class>
            <class name="day1.SecondTests">
                <methods>
                    <include name="testRun"/>
                    <include name="testRun1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>